<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="VATPercent" value="23" />
    <add key="DealDocumentPath" value="C:\Users\grzeg\iCloudDrive\Documents\Inżynierka\Umowa\UMOWA KUPNA-SPRZEDAZY_V3-Form.pdf"/>
    <add key="DealDocumentsFolderPath" value="C:\Users\grzeg\Documents\PawnShop\DealDocuments"/>
  </appSettings>
</configuration>