<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="VATPercent" value="23" />
    <add key="DealDocumentPath" value="C:\Users\Kogut\iCloudDrive\Documents\Inżynierka\Umowa\UMOWA KUPNA-SPRZEDAZY_V3-Form.pdf"/>
    <add key="DealDocumentsFolderPath" value="C:\%UserProfile%\Documents\Pawnshop\DealDocuments"/>
  </appSettings>
</configuration>